# Python virtual environment
my-env/
venv/
env/
.env/
.venv/

cocotb
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Simulation and waveform files
**/sim_build/
*.vcd

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Results XML
results.xml

gtkwave

archive