__pycache__/
generated_model/
generated_smoke/
sim/modelsim_uart_frame_receiver/
sim/modelsim_mnist_frame_buffer/
sim/modelsim_mnist_uart_ingress/
sim/modelsim_uart_rx/
sim/modelsim_mnist_tpu_tiled_classifier/
sim/modelsim_mnist_serial_classifier/
sim/modelsim_mnist_serial_classifier_full/
sim/modelsim_de1_soc_mnist_serial_top/
